<h1 class="text-center my-3">Listing Articles</h1>

<div class="apple_pagination mb-3">
  <%= will_paginate @articles, :container => false %>
</div>

<%= render 'article' %>

<div class="apple_pagination mb-3">
  <%= will_paginate @articles, :container => false %>
</div>
